{
  "development": {
    "username": "root",
    "password": "db_password",
    "database": "kabw_chatroom_dev",
    "host": "127.0.0.1",
    "port": 32770,
    "dialect": "mysql"
  },
  "test": {
    "username": "root",
    "password": "db_password",
    "database": "kabw_chatroom_test",
    "host": "127.0.0.1",
    "port": 32770,
    "dialect": "mysql"
  },
  "production": {
    "username": "root",
    "password": "db_password",
    "database": "kabw_chatroom_prod",
    "host": "127.0.0.1",
    "port": 32770,
    "dialect": "mysql"
  }
}
